section.section
  h1 Typography
  p A set of atomic-style class names that can be used to control typography, can be used alongside any other default styles already present.

  p.tx-dark dark
  p.tx-darker darker
  p.tx-light light
  p.tx-lighter lighter
  p.tx-inverse inverse

  p.tx-weight-light light weight
  p.tx-weight-bold bold weight
  p.tx-weight-default default weight

  p.tx-xs extra small
  p.tx-sm small
  p.tx-lg large
  p.tx-xl extra large
  p.tx-default default

  p.tx-italic italic

  p.tx-ln-sm small line height
  p.tx-ln-lg large line height
  p.tx-ln-default default line height
