@fontSize: 16px;
@fontFamily: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
@fontFamilyLight: 'LatoLight', 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
@fontFamilyBold: 'LatoBold', 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
@txtLighter: #ddd;
@txtLight: #666;
@txtDark: #333;
@txtDarker: #000;
@txtInverse: #fff;

// Colours
.tx-dark {color: @txtDark;}
.tx-darker {color: @txtDarker;}
.tx-light {color: @txtLight;}
.tx-lighter {color: @txtLighter;}
.tx-inverse {color: @txtInverse;}

// Weights
.tx-weight-light {
  font-weight: 100;
}
.tx-weight-default {
  font-weight: 400;
}
.tx-weight-bold {
  font-weight: 600;
}

// Sizes
.tx-default {font-size: @fontSize;}
.tx-sm {font-size: @fontSize - 2;}
.tx-xs {font-size: @fontSize - 4;}
.tx-lg {font-size: @fontSize + 2;}
.tx-xl {font-size: @fontSize + 4;}

// Adjustments
.tx-italic {font-style: italic;}

.tx-ln-default {line-height: 1.4em;}
.tx-ln-sm {line-height: 1.1em;}
.tx-ln-lg {line-height: 1.8em;}

// Button-sized text block (alternative to btn-link)
.tx-btn {
  margin-bottom: 0;
  line-height: 41px;
}
.tx-btn-sm {
  line-height: 33px;
}
