@fontSize: 14px;
@fontFamily: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
@fontFamilyLight: 'LatoBold', 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
@fontFamilyBold: 'LatoLight', 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;
@txtLighter: '#e5e5e5';
@txtLight: '#999';
@txtDark: '#666';
@txtDarker: '#333';
@txtInverse: '#fff';

// Colours
.tx-dark {color: @txtDark;}
.tx-darker {color: @txtDarker;}
.tx-light {color: @txtLight;}
.tx-lighter {color: @txtLighter;}
.tx-inverse {color: @txtInverse;}

// Weights
.tx-weight-light {
  font-family: @fontFamilyLight;
}
.tx-weight-default {
  font-family: @fontFamily;
}
.tx-weight-bold {
  font-family: @fontFamilyBold;
}

// Sizes
.tx-default {font-size: @fontSize;}
.tx-sm {font-size: @fontSize - 2;}
.tx-xs {font-size: @fontSize - 4;}
.tx-lg {font-size: @fontSize + 2;}
.tx-xl {font-size: @fontSize + 4;}

// Adjustments
.tx-italic {font-style: italic;}

.tx-ln-default {line-height: 1.4em;}
.tx-ln-lg {line-height: 1.6em;}
.tx-ln-sm {line-height: 1.2em;}

// Button-sized text block (alternative to btn-link)
.tx-btn {
  margin-bottom: 0;
  line-height: 41px;
}
.tx-btn-sm {
  line-height: 33px;
}
