section.section
  h1 Read more
  .hr
  p A button placed at the end of a content summary which should display or redirect to the full content.

  h2 Example

  p
    | She sells sea sells
    span.read-more
    |  on the sea shore
