section.section
  h1 Horizontal Rule
  .hr
  p Simple divider between elements which can support a text label

  h2 Uses

  .hr
    .hr-label default

  .hr.hr-xs
    .hr-label extra small

  .hr.hr-sm
    .hr-label small

  .hr.hr-md
    .hr-label medium

  .hr.hr-lg
    .hr-label large

  .hr.hr-xl
    .hr-label extra large

  h2 Example

  .text-center
    button.btn.btn-lg(type="button") Take the first option
    .hr: .hr-label or
    a(href="/") Take the second
