section
  .hr
    .lablel default

  .hr.hr-xs
    .lablel extra small

  .hr.hr-sm
    .lablel small

  .hr.hr-md
    .lablel medium

  .hr.hr-lg
    .lablel large

  .hr.hr-xl
    .lablel extra large
