html
  head
    title CSS components
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="dependencies.css")
    link(rel="stylesheet" type="text/css" href="example.css")
    link(rel="stylesheet" type="text/css" href="components-less.css")
  body
    .content
        include components/horizontal-rule/example.jade
        include components/read-more/example.jade
        include components/t-bootstrap/col-xl/example.jade
        include components/typography/example.jade
